@use 'shapla-css/src/index.scss' as shapla;

.editable-content {
  align-items: center;
  border: 1px solid rgba(#000, 0.12);
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;

  &-container {
    border: 1px solid rgba(#000, 0.12);
    margin: 0 auto;
    padding: var(--container-padding, 15px);
    position: relative;
    width: 100%;
  }

  &__editor {
    border: 1px dashed rgba(#000, 0.12);
    border-left-width: 0;
    border-right-width: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &, & * {
      color: var(--color, #000);
      font-family: var(--font-family, 'inherit');
      font-size: var(--font-size, 15px);
      text-align: var(--text-align, center);
      margin: 0;
    }
  }
}

// Compose.vue
.inner-message-font-families {
  max-height: 64vh;
  overflow-y: auto;
}

.inner-message-font-family {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;

  &:not(.is-selected):hover {
    background-color: rgba(#000, 0.04);
  }

  &.is-selected {
    background-color: var(--shapla-primary-alpha, rgba(0, 0, 0, 0.04));
  }
}

.inner-message-colors,
.inner-message-font-sizes,
.inner-message-text-alignments {
  margin: -5px;
}

.inner-message-color,
.inner-message-font-size,
.inner-message-text-alignment {
  padding: 5px;
}

.color-box {
  text-indent: -999999px;
  cursor: pointer;
  height: 48px;
  width: 48px;

  &.is-active {
    border-radius: 99px;
  }
}

.emoji-picker {
  width: 100% !important;
}

.container-emoji {
  height: 310px !important;
}

.has-error {
  background-color: shapla.$error;
  color: shapla.$on-error;
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}

// MultiCompose.vue
.multi-compose {
  &, *:before, *:after {
    box-sizing: border-box;
  }

  @media screen and (max-width: 767px) {
    max-height: var(--inner-message-modal-height, 95vh);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.has-multi-compose {
  &, *:before, *:after {
    box-sizing: border-box;
  }

  .shapla-modal-content {
    overflow: hidden;
  }
}

// InnerMessage.vue
.yousaidit-inner-message {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .modal--inner-message-compose {
    .shapla-modal-content {
      border-radius: 0;
      height: var(--inner-message-modal-height, 100vh);
      width: 100vw;

      .admin-bar & {
        margin-top: var(--admin-bar-height, 32px);
        --inner-message-modal-height: calc(100vh - var(--admin-bar-height, 32px));

        @media screen and (max-width: 782px) {
          --admin-bar-height: 46px;
        }
      }
    }
  }

  .shapla-modal-content.is-full {
    max-height: 100vh;
  }

  &__actions {
    margin-top: 1rem;
    text-align: right;

    > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}

// SingleProductDynamicCard

body.is-dynamic-card-product {
  .button--customize-dynamic-card {
    width: 100%;
    margin-top: 1rem;
  }

  .quantity,
  .single_add_to_cart_button {
    display: none !important;
  }
}

.dynamic-card--editable-content-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5f5f5;
}

.uploade-image-thumbnail-container {

}

.modal--single-product-dynamic-card {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .card-preview-canvas {
    border: 1px solid #f5f5f5;
  }

  .modal-dynamic-card-content {
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
    padding: 0 !important;
    width: 100vw;

    .admin-bar & {
      margin-top: 32px;
      height: calc(100vh - 32px);

      @media screen and (max-width: 782px) {
        margin-top: 46px;
        height: calc(100vh - 46px);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .modal-dynamic-card-content {
      overflow: hidden;
    }
    .dynamic-card--canvas {
      height: calc(100vh - 2rem); // excluding padding of modal box
      width: calc(100% - 360px);

      &-slider {
        height: calc(100vh - (2rem + 100px + 1rem)); // excluding padding of modal box
      }

      &-thumb {
        height: 100px;
      }
    }

    .dynamic-card--controls {
      width: 360px;
    }
  }
}