.mdl-checkbox {
	display: flex;
	position: relative;
	padding-left: 25px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 22px;
	user-select: none;

	&:not(:last-child) {
		margin-right: 0.5rem;
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		top: 0;
		left: 0;
	}

	&__label {
		font-size: 14px; // Down from 18 to 15
		line-height: 20px;
		color: #ffffff;
		margin-left: 0 !important;
		margin-right: 0 !important;
		text-transform: initial;
	}

	&__mark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #eee;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 8px;
			top: 4px;
			width: 6px;
			height: 10px;
			border: solid black;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	/* On mouse-over, add a grey background color */
	&:hover input ~ .mdl-checkbox__mark {
		background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	input:checked ~ .mdl-checkbox__mark {
		background-color: #ffffff;
	}

	/* Show the checkmark when checked */
	input:checked ~ .mdl-checkbox__mark:after {
		display: block;
	}
}
